---
const { period, title, company, location, description } = Astro.props;
import "../../layouts/styles/components/experience-item.css";
---

<div class="experience-item">
  <div class="period">{period}</div>
  <div class="details">
    <div class="title">
      <strong>{title}</strong>
      {" at "}
      {company}
    </div>
    <div class="location">{location}</div>
    {description && <div class="description">{description}</div>}
  </div>
</div>
