---
interface Props {
  companyIcon: string;
  altText: string;
  roleTitle: string;
  companyName: string;
  dateOrStatus: string;
  description: string;
  projects?: string[];
  learnMoreLink?: string;
}

const {
  companyIcon,
  altText,
  roleTitle,
  companyName,
  dateOrStatus,
  description,
  projects = [],
  learnMoreLink,
} = Astro.props;

import "../styles/components/timeline-item.css";
---

<div class="timeline-item">
  <div class="timeline-header">
    <img src={companyIcon} alt={altText} class="company-icon" />
    <div class="role">
      <h2>{roleTitle}</h2>
      <h3>{companyName}</h3>
    </div>
    <span class="date">{dateOrStatus} </span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="10"
      height="10"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><path d="M15 3h6v6M14 10l6.1-6.1M9 21H3v-6M10 14l-6.1 6.1"></path></svg
    >
  </div>
  <div class="timeline-content hidden">
    <p>{description}</p>
    {
      projects.length > 0 && (
        <div class="projects">
          {projects.map((project) => (
            <img src={project} />
          ))}
        </div>
      )
    }
    {
      learnMoreLink && (
        <a href={learnMoreLink} class="learn-more">
          See the full project. →
        </a>
      )
    }
  </div>
</div>
