---
import AsciiLava from "../components/AsciiLava.astro";
import "../styles/sections/about-styles.css";
import SocialButton from "../components/SocialButton.astro";
import ABOUT_ME_DATA from "../../lib/data/about-data.json";
import socials from "../../lib/data/socials-data.json";
const { presentation, bio } = ABOUT_ME_DATA;
---

<section class="about-me">
  <div class="ascii-lava-box">
    <AsciiLava />
  </div>
  <div class="text-box">
    <p><b>Hey</b>, {presentation}</p>
    <p>{bio}</p>
    <div class="socials">
      <SocialButton
        text={socials.linkedinText}
        href={socials.linkedinUrl}
        social="LinkedIn"
      />
      <SocialButton
        text={socials.githubText}
        href={socials.githubUrl}
        social="GitHub"
      />
      <SocialButton
        text={socials.behanceText}
        href={socials.behanceUrl}
        social="Behance"
      />
    </div>
  </div>
</section>
